{
  "openapi": "3.0.1",
  "info": {
    "title": "OData Service for namespace CBS.Website.ODataApi.Models",
    "description": "This OData service is located at https://www.cbs.nl/odata/v1",
    "version": "1.1.1"
  },
  "servers": [
    {
      "url": "https://www.cbs.nl/odata/v1"
    }
  ],
  "paths": {
    "/Articles": {
      "description": "Provides operations to manage the collection of Article entities.",
      "get": {
        "tags": [
          "Articles.Article"
        ],
        "summary": "Get entities from Articles",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "ArticleType",
                  "ArticleType desc",
                  "ArticleTypeInt",
                  "ArticleTypeInt desc",
                  "Title",
                  "Title desc",
                  "ReleaseTime",
                  "ReleaseTime desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "Image",
                  "Image desc",
                  "ImageAlt",
                  "ImageAlt desc",
                  "Category",
                  "Category desc",
                  "Photographer",
                  "Photographer desc",
                  "LeadText",
                  "LeadText desc",
                  "Body",
                  "Body desc",
                  "Footnote",
                  "Footnote desc",
                  "Errata",
                  "Errata desc",
                  "Authors",
                  "Authors desc",
                  "Location",
                  "Location desc",
                  "ISSN",
                  "ISSN desc",
                  "ISBN",
                  "ISBN desc",
                  "TaxonomyTags",
                  "TaxonomyTags desc",
                  "Themes",
                  "Themes desc",
                  "Series",
                  "Series desc",
                  "References",
                  "References desc",
                  "Downloads",
                  "Downloads desc",
                  "Links",
                  "Links desc",
                  "Language",
                  "Language desc",
                  "Version",
                  "Version desc",
                  "SortOrder",
                  "SortOrder desc",
                  "ItemNameLowerCase",
                  "ItemNameLowerCase desc",
                  "Updated",
                  "Updated desc",
                  "Created",
                  "Created desc",
                  "Permalink",
                  "Permalink desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "ArticleType",
                  "ArticleTypeInt",
                  "Title",
                  "ReleaseTime",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Category",
                  "Photographer",
                  "LeadText",
                  "Body",
                  "Footnote",
                  "Errata",
                  "Authors",
                  "Location",
                  "ISSN",
                  "ISBN",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "References",
                  "Downloads",
                  "Links",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.ArticleCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Articles({UniqueId})": {
      "description": "Provides operations to manage the collection of Article entities.",
      "get": {
        "tags": [
          "Articles.Article"
        ],
        "summary": "Get entity from Articles by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of Article",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "Article"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "ArticleType",
                  "ArticleTypeInt",
                  "Title",
                  "ReleaseTime",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Category",
                  "Photographer",
                  "LeadText",
                  "Body",
                  "Footnote",
                  "Errata",
                  "Authors",
                  "Location",
                  "ISSN",
                  "ISBN",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "References",
                  "Downloads",
                  "Links",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Article"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/Definitions": {
      "description": "Provides operations to manage the collection of Definition entities.",
      "get": {
        "tags": [
          "Definitions.Definition"
        ],
        "summary": "Get entities from Definitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "Title",
                  "Title desc",
                  "DefinitionType",
                  "DefinitionType desc",
                  "DefinitionTypeInt",
                  "DefinitionTypeInt desc",
                  "Description",
                  "Description desc",
                  "LeadText",
                  "LeadText desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "TaxonomyTags",
                  "TaxonomyTags desc",
                  "Themes",
                  "Themes desc",
                  "Series",
                  "Series desc",
                  "Language",
                  "Language desc",
                  "Version",
                  "Version desc",
                  "Updated",
                  "Updated desc",
                  "Created",
                  "Created desc",
                  "Permalink",
                  "Permalink desc",
                  "References",
                  "References desc",
                  "Links",
                  "Links desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "DefinitionType",
                  "DefinitionTypeInt",
                  "Description",
                  "LeadText",
                  "Url",
                  "MetaDescription",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "Language",
                  "Version",
                  "Updated",
                  "Created",
                  "Permalink",
                  "References",
                  "Links"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.DefinitionCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Definitions({UniqueId})": {
      "description": "Provides operations to manage the collection of Definition entities.",
      "get": {
        "tags": [
          "Definitions.Definition"
        ],
        "summary": "Get entity from Definitions by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of Definition",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "Definition"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "DefinitionType",
                  "DefinitionTypeInt",
                  "Description",
                  "LeadText",
                  "Url",
                  "MetaDescription",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "Language",
                  "Version",
                  "Updated",
                  "Created",
                  "Permalink",
                  "References",
                  "Links"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Definition"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/Events": {
      "description": "Provides operations to manage the collection of CalendarEvent entities.",
      "get": {
        "tags": [
          "Events.CalendarEvent"
        ],
        "summary": "Get entities from Events",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "Title",
                  "Title desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "Image",
                  "Image desc",
                  "ImageAlt",
                  "ImageAlt desc",
                  "Description",
                  "Description desc",
                  "PlannedPublicationTime",
                  "PlannedPublicationTime desc",
                  "ReportingPeriod",
                  "ReportingPeriod desc",
                  "Priority",
                  "Priority desc",
                  "UnderEmbargo",
                  "UnderEmbargo desc",
                  "PublishTimeUnknown",
                  "PublishTimeUnknown desc",
                  "RegionalClassification",
                  "RegionalClassification desc",
                  "Themes",
                  "Themes desc",
                  "Language",
                  "Language desc",
                  "Version",
                  "Version desc",
                  "SortOrder",
                  "SortOrder desc",
                  "ItemNameLowerCase",
                  "ItemNameLowerCase desc",
                  "Updated",
                  "Updated desc",
                  "Created",
                  "Created desc",
                  "Permalink",
                  "Permalink desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Description",
                  "PlannedPublicationTime",
                  "ReportingPeriod",
                  "Priority",
                  "UnderEmbargo",
                  "PublishTimeUnknown",
                  "RegionalClassification",
                  "Themes",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.CalendarEventCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Events({UniqueId})": {
      "description": "Provides operations to manage the collection of CalendarEvent entities.",
      "get": {
        "tags": [
          "Events.CalendarEvent"
        ],
        "summary": "Get entity from Events by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of CalendarEvent",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "CalendarEvent"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Description",
                  "PlannedPublicationTime",
                  "ReportingPeriod",
                  "Priority",
                  "UnderEmbargo",
                  "PublishTimeUnknown",
                  "RegionalClassification",
                  "Themes",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.CalendarEvent"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/Flash": {
      "description": "Provides operations to manage the collection of Flash entities.",
      "get": {
        "tags": [
          "Flash.Flash"
        ],
        "summary": "Get entities from Flash",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "Title",
                  "Title desc",
                  "ReleaseTime",
                  "ReleaseTime desc",
                  "Description",
                  "Description desc",
                  "LeadText",
                  "LeadText desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "Language",
                  "Language desc",
                  "Version",
                  "Version desc",
                  "SortOrder",
                  "SortOrder desc",
                  "ItemNameLowerCase",
                  "ItemNameLowerCase desc",
                  "Updated",
                  "Updated desc",
                  "Created",
                  "Created desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "ReleaseTime",
                  "Description",
                  "LeadText",
                  "Url",
                  "MetaDescription",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.FlashCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Flash({UniqueId})": {
      "description": "Provides operations to manage the collection of Flash entities.",
      "get": {
        "tags": [
          "Flash.Flash"
        ],
        "summary": "Get entity from Flash by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of Flash",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "Flash"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "ReleaseTime",
                  "Description",
                  "LeadText",
                  "Url",
                  "MetaDescription",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Flash"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/GetArticlesByArticleType(ArticleType={ArticleType})": {
      "description": "Provides operations to call the GetArticlesByArticleType method.",
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Invoke functionImport GetArticlesByArticleType",
        "parameters": [
          {
            "name": "ArticleType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.ArticleType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Article",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Article"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetArticlesBySeries(Series={Series})": {
      "description": "Provides operations to call the GetArticlesBySeries method.",
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Invoke functionImport GetArticlesBySeries",
        "parameters": [
          {
            "name": "Series",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Article",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Article"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetArticlesByTableId(TableId={TableId})": {
      "description": "Provides operations to call the GetArticlesByTableId method.",
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Invoke functionImport GetArticlesByTableId",
        "parameters": [
          {
            "name": "TableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Article",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Article"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetArticlesByTaxonomyTag(Tag={Tag})": {
      "description": "Provides operations to call the GetArticlesByTaxonomyTag method.",
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Invoke functionImport GetArticlesByTaxonomyTag",
        "parameters": [
          {
            "name": "Tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Article",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Article"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetArticlesByTheme(Theme={Theme})": {
      "description": "Provides operations to call the GetArticlesByTheme method.",
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Invoke functionImport GetArticlesByTheme",
        "parameters": [
          {
            "name": "Theme",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Article",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Article"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetMediaByMediaType(MediaType={MediaType})": {
      "description": "Provides operations to call the GetMediaByMediaType method.",
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Invoke functionImport GetMediaByMediaType",
        "parameters": [
          {
            "name": "MediaType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.MediaType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Medium",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Medium"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetPagesByPageType(PageType={PageType})": {
      "description": "Provides operations to call the GetPagesByPageType method.",
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Invoke functionImport GetPagesByPageType",
        "parameters": [
          {
            "name": "PageType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.PageType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Page",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Page"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetPagesByResearchCode(ResourceCode={ResourceCode})": {
      "description": "Provides operations to call the GetPagesByResearchCode method.",
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Invoke functionImport GetPagesByResearchCode",
        "parameters": [
          {
            "name": "ResourceCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Page",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Page"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetPagesBySeries(Series={Series})": {
      "description": "Provides operations to call the GetPagesBySeries method.",
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Invoke functionImport GetPagesBySeries",
        "parameters": [
          {
            "name": "Series",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Page",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Page"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetPagesByTaxonomyTag(Tag={Tag})": {
      "description": "Provides operations to call the GetPagesByTaxonomyTag method.",
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Invoke functionImport GetPagesByTaxonomyTag",
        "parameters": [
          {
            "name": "Tag",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Page",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Page"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetPagesByTheme(Theme={Theme})": {
      "description": "Provides operations to call the GetPagesByTheme method.",
      "get": {
        "tags": [
          "Pages"
        ],
        "summary": "Invoke functionImport GetPagesByTheme",
        "parameters": [
          {
            "name": "Theme",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of Page",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Page"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetSearchResultsByArticleType(ArticleType={ArticleType})": {
      "description": "Provides operations to call the GetSearchResultsByArticleType method.",
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Invoke functionImport GetSearchResultsByArticleType",
        "parameters": [
          {
            "name": "ArticleType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.ArticleType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of SearchResultItem",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetSearchResultsByPath(Path={Path})": {
      "description": "Provides operations to call the GetSearchResultsByPath method.",
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Invoke functionImport GetSearchResultsByPath",
        "parameters": [
          {
            "name": "Path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of SearchResultItem",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetSearchResultsByPathAndTemplateId(Path={Path},TemplateId={TemplateId})": {
      "description": "Provides operations to call the GetSearchResultsByPathAndTemplateId method.",
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Invoke functionImport GetSearchResultsByPathAndTemplateId",
        "parameters": [
          {
            "name": "Path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "TemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of SearchResultItem",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetSearchResultsByTemplate(Template={Template})": {
      "description": "Provides operations to call the GetSearchResultsByTemplate method.",
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Invoke functionImport GetSearchResultsByTemplate",
        "parameters": [
          {
            "name": "Template",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of SearchResultItem",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetSearchResultsByTheme(Theme={Theme})": {
      "description": "Provides operations to call the GetSearchResultsByTheme method.",
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Invoke functionImport GetSearchResultsByTheme",
        "parameters": [
          {
            "name": "Theme",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of SearchResultItem",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetSearchResultsByWord(Word={Word})": {
      "description": "Provides operations to call the GetSearchResultsByWord method.",
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Invoke functionImport GetSearchResultsByWord",
        "parameters": [
          {
            "name": "Word",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of SearchResultItem",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/GetSearchResultsByWordAndTemplateId(Word={Word},TemplateId={TemplateId})": {
      "description": "Provides operations to call the GetSearchResultsByWordAndTemplateId method.",
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Invoke functionImport GetSearchResultsByWordAndTemplateId",
        "parameters": [
          {
            "name": "Word",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "TemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of SearchResultItem",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                          },
                          {
                            "type": "object",
                            "nullable": true
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "functionImport"
      }
    },
    "/Media": {
      "description": "Provides operations to manage the collection of Medium entities.",
      "get": {
        "tags": [
          "Media.Medium"
        ],
        "summary": "Get entities from Media",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "Title",
                  "Title desc",
                  "MediaType",
                  "MediaType desc",
                  "MediaTypeInt",
                  "MediaTypeInt desc",
                  "ReleaseTime",
                  "ReleaseTime desc",
                  "Description",
                  "Description desc",
                  "LeadText",
                  "LeadText desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "TaxonomyTags",
                  "TaxonomyTags desc",
                  "Themes",
                  "Themes desc",
                  "Series",
                  "Series desc",
                  "Language",
                  "Language desc",
                  "Version",
                  "Version desc",
                  "SortOrder",
                  "SortOrder desc",
                  "ItemNameLowerCase",
                  "ItemNameLowerCase desc",
                  "Updated",
                  "Updated desc",
                  "Created",
                  "Created desc",
                  "Permalink",
                  "Permalink desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "MediaType",
                  "MediaTypeInt",
                  "ReleaseTime",
                  "Description",
                  "LeadText",
                  "Url",
                  "MetaDescription",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.MediumCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Media({UniqueId})": {
      "description": "Provides operations to manage the collection of Medium entities.",
      "get": {
        "tags": [
          "Media.Medium"
        ],
        "summary": "Get entity from Media by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of Medium",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "Medium"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "MediaType",
                  "MediaTypeInt",
                  "ReleaseTime",
                  "Description",
                  "LeadText",
                  "Url",
                  "MetaDescription",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Medium"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/Pages": {
      "description": "Provides operations to manage the collection of Page entities.",
      "get": {
        "tags": [
          "Pages.Page"
        ],
        "summary": "Get entities from Pages",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "PageType",
                  "PageType desc",
                  "PageTypeInt",
                  "PageTypeInt desc",
                  "Title",
                  "Title desc",
                  "SubTitle",
                  "SubTitle desc",
                  "Edition",
                  "Edition desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "Image",
                  "Image desc",
                  "ImageAlt",
                  "ImageAlt desc",
                  "Category",
                  "Category desc",
                  "Photographer",
                  "Photographer desc",
                  "LeadText",
                  "LeadText desc",
                  "Body",
                  "Body desc",
                  "Footnote",
                  "Footnote desc",
                  "Authors",
                  "Authors desc",
                  "Location",
                  "Location desc",
                  "TaxonomyTags",
                  "TaxonomyTags desc",
                  "Themes",
                  "Themes desc",
                  "Series",
                  "Series desc",
                  "ResearchCodes",
                  "ResearchCodes desc",
                  "References",
                  "References desc",
                  "Downloads",
                  "Downloads desc",
                  "Links",
                  "Links desc",
                  "Language",
                  "Language desc",
                  "Version",
                  "Version desc",
                  "SortOrder",
                  "SortOrder desc",
                  "ItemNameLowerCase",
                  "ItemNameLowerCase desc",
                  "Updated",
                  "Updated desc",
                  "ReleaseTime",
                  "ReleaseTime desc",
                  "Created",
                  "Created desc",
                  "Permalink",
                  "Permalink desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "PageType",
                  "PageTypeInt",
                  "Title",
                  "SubTitle",
                  "Edition",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Category",
                  "Photographer",
                  "LeadText",
                  "Body",
                  "Footnote",
                  "Authors",
                  "Location",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "ResearchCodes",
                  "References",
                  "Downloads",
                  "Links",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "ReleaseTime",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.PageCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Pages({UniqueId})": {
      "description": "Provides operations to manage the collection of Page entities.",
      "get": {
        "tags": [
          "Pages.Page"
        ],
        "summary": "Get entity from Pages by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of Page",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "Page"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "PageType",
                  "PageTypeInt",
                  "Title",
                  "SubTitle",
                  "Edition",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Category",
                  "Photographer",
                  "LeadText",
                  "Body",
                  "Footnote",
                  "Authors",
                  "Location",
                  "TaxonomyTags",
                  "Themes",
                  "Series",
                  "ResearchCodes",
                  "References",
                  "Downloads",
                  "Links",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "ReleaseTime",
                  "Created",
                  "Permalink"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Page"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/Search": {
      "description": "Provides operations to manage the collection of SearchResultItem entities.",
      "get": {
        "tags": [
          "Search.SearchResultItem"
        ],
        "summary": "Get entities from Search",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "Type",
                  "Type desc",
                  "Permalink",
                  "Permalink desc",
                  "Title",
                  "Title desc",
                  "ReleaseTime",
                  "ReleaseTime desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "Image",
                  "Image desc",
                  "ImageAlt",
                  "ImageAlt desc",
                  "Description",
                  "Description desc",
                  "LeadText",
                  "LeadText desc",
                  "Body",
                  "Body desc",
                  "Snippet",
                  "Snippet desc",
                  "Location",
                  "Location desc",
                  "Language",
                  "Language desc",
                  "Themes",
                  "Themes desc",
                  "TemplateName",
                  "TemplateName desc",
                  "ItemNameLowerCase",
                  "ItemNameLowerCase desc",
                  "SortOrder",
                  "SortOrder desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Type",
                  "Permalink",
                  "Title",
                  "ReleaseTime",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Description",
                  "LeadText",
                  "Body",
                  "Snippet",
                  "Location",
                  "Language",
                  "Themes",
                  "TemplateName",
                  "ItemNameLowerCase",
                  "SortOrder"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.SearchResultItemCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Search({UniqueId})": {
      "description": "Provides operations to manage the collection of SearchResultItem entities.",
      "get": {
        "tags": [
          "Search.SearchResultItem"
        ],
        "summary": "Get entity from Search by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of SearchResultItem",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "SearchResultItem"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Type",
                  "Permalink",
                  "Title",
                  "ReleaseTime",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "Description",
                  "LeadText",
                  "Body",
                  "Snippet",
                  "Location",
                  "Language",
                  "Themes",
                  "TemplateName",
                  "ItemNameLowerCase",
                  "SortOrder"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.SearchResultItem"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/Vacancies": {
      "description": "Provides operations to manage the collection of Vacancy entities.",
      "get": {
        "tags": [
          "Vacancies.Vacancy"
        ],
        "summary": "Get entities from Vacancies",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "UniqueId desc",
                  "Title",
                  "Title desc",
                  "Url",
                  "Url desc",
                  "MetaDescription",
                  "MetaDescription desc",
                  "Image",
                  "Image desc",
                  "ImageAlt",
                  "ImageAlt desc",
                  "LeadText",
                  "LeadText desc",
                  "Body",
                  "Body desc",
                  "VacancyNumber",
                  "VacancyNumber desc",
                  "WorkingEnvironment",
                  "WorkingEnvironment desc",
                  "TheWork",
                  "TheWork desc",
                  "YourProfile",
                  "YourProfile desc",
                  "TermsOfEmployment",
                  "TermsOfEmployment desc",
                  "EmploymentType",
                  "EmploymentType desc",
                  "MoreInformation",
                  "MoreInformation desc",
                  "PublicationDate",
                  "PublicationDate desc",
                  "ClosingDate",
                  "ClosingDate desc",
                  "Engagement",
                  "Engagement desc",
                  "VacancyCategory",
                  "VacancyCategory desc",
                  "HoursPerWeek",
                  "HoursPerWeek desc",
                  "Salary",
                  "Salary desc",
                  "MinSalary",
                  "MinSalary desc",
                  "MaxSalary",
                  "MaxSalary desc",
                  "SalaryPeriod",
                  "SalaryPeriod desc",
                  "Recruiter",
                  "Recruiter desc",
                  "LevelOfEducation",
                  "LevelOfEducation desc",
                  "JobLocations",
                  "JobLocations desc",
                  "WorkLocation",
                  "WorkLocation desc",
                  "Location",
                  "Location desc",
                  "References",
                  "References desc",
                  "Downloads",
                  "Downloads desc",
                  "Links",
                  "Links desc",
                  "Language",
                  "Language desc",
                  "Version",
                  "Version desc",
                  "SortOrder",
                  "SortOrder desc",
                  "ItemNameLowerCase",
                  "ItemNameLowerCase desc",
                  "Updated",
                  "Updated desc",
                  "Created",
                  "Created desc",
                  "Permalink",
                  "Permalink desc",
                  "TeamFacts",
                  "TeamFacts desc",
                  "CbsFacts",
                  "CbsFacts desc",
                  "BreadCrumb",
                  "BreadCrumb desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "LeadText",
                  "Body",
                  "VacancyNumber",
                  "WorkingEnvironment",
                  "TheWork",
                  "YourProfile",
                  "TermsOfEmployment",
                  "EmploymentType",
                  "MoreInformation",
                  "PublicationDate",
                  "ClosingDate",
                  "Engagement",
                  "VacancyCategory",
                  "HoursPerWeek",
                  "Salary",
                  "MinSalary",
                  "MaxSalary",
                  "SalaryPeriod",
                  "Recruiter",
                  "LevelOfEducation",
                  "JobLocations",
                  "WorkLocation",
                  "Location",
                  "References",
                  "Downloads",
                  "Links",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink",
                  "TeamFacts",
                  "CbsFacts",
                  "BreadCrumb"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CBS.Website.ODataApi.Models.VacancyCollectionResponse"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/Vacancies({UniqueId})": {
      "description": "Provides operations to manage the collection of Vacancy entities.",
      "get": {
        "tags": [
          "Vacancies.Vacancy"
        ],
        "summary": "Get entity from Vacancies by key",
        "parameters": [
          {
            "name": "UniqueId",
            "in": "path",
            "description": "The unique identifier of Vacancy",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "Vacancy"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "UniqueId",
                  "Title",
                  "Url",
                  "MetaDescription",
                  "Image",
                  "ImageAlt",
                  "LeadText",
                  "Body",
                  "VacancyNumber",
                  "WorkingEnvironment",
                  "TheWork",
                  "YourProfile",
                  "TermsOfEmployment",
                  "EmploymentType",
                  "MoreInformation",
                  "PublicationDate",
                  "ClosingDate",
                  "Engagement",
                  "VacancyCategory",
                  "HoursPerWeek",
                  "Salary",
                  "MinSalary",
                  "MaxSalary",
                  "SalaryPeriod",
                  "Recruiter",
                  "LevelOfEducation",
                  "JobLocations",
                  "WorkLocation",
                  "Location",
                  "References",
                  "Downloads",
                  "Links",
                  "Language",
                  "Version",
                  "SortOrder",
                  "ItemNameLowerCase",
                  "Updated",
                  "Created",
                  "Permalink",
                  "TeamFacts",
                  "CbsFacts",
                  "BreadCrumb"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.Vacancy"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    }
  },
  "components": {
    "schemas": {
      "CBS.Website.ODataApi.Models.Article": {
        "title": "Article",
        "type": "object",
        "properties": {
          "UniqueId": {
            "type": "string"
          },
          "ArticleType": {
            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.ArticleType"
          },
          "ArticleTypeInt": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "ReleaseTime": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Url": {
            "type": "string",
            "nullable": true
          },
          "MetaDescription": {
            "type": "string",
            "nullable": true
          },
          "Image": {
            "type": "string",
            "nullable": true
          },
          "ImageAlt": {
            "type": "string",
            "nullable": true
          },
          "Category": {
            "type": "string",
            "nullable": true
          },
          "Photographer": {
            "type": "string",
            "nullable": true
          },
          "LeadText": {
            "type": "string",
            "nullable": true
          },
          "Body": {
            "type": "string",
            "nullable": true
          },
          "Footnote": {
            "type": "string",
            "nullable": true
          },
          "Errata": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.ErrataList"
              },
              {
                "type": "object",
                "nullable": true
              }
            ]
          },
          "Authors": {
            "type": "string",
            "nullable": true
          },
          "Location": {
            "type": "string",
            "nullable": true
          },
          "ISSN": {
            "type": "string",
            "nullable": true
          },
          "ISBN": {
            "type": "string",
            "nullable": true
          },
          "TaxonomyTags": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Themes": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Series": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "References": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.LinkList"
              },
              {
                "type": "object",
                "nullable": true
              }
            ]
          },
          "Downloads": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.LinkList"
              },
              {
                "type": "object",
                "nullable": true
              }
            ]
          },
          "Links": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.LinkList"
              },
              {
                "type": "object",
                "nullable": true
              }
            ]
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Version": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "SortOrder": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "ItemNameLowerCase": {
            "type": "string",
            "nullable": true
          },
          "Updated": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Created": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Permalink": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CBS.Website.ODataApi.Models.Definition": {
        "title": "Definition",
        "type": "object",
        "properties": {
          "UniqueId": {
            "type": "string"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "DefinitionType": {
            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.DefinitionType"
          },
          "DefinitionTypeInt": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "LeadText": {
            "type": "string",
            "nullable": true
          },
          "Url": {
            "type": "string",
            "nullable": true
          },
          "MetaDescription": {
            "type": "string",
            "nullable": true
          },
          "TaxonomyTags": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Themes": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Series": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Version": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "Updated": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Created": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Permalink": {
            "type": "string",
            "nullable": true
          },
          "References": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.LinkList"
              },
              {
                "type": "object",
                "nullable": true
              }
            ]
          },
          "Links": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.LinkList"
              },
              {
                "type": "object",
                "nullable": true
              }
            ]
          }
        }
      },
      "CBS.Website.ODataApi.Models.Medium": {
        "title": "Medium",
        "type": "object",
        "properties": {
          "UniqueId": {
            "type": "string"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "MediaType": {
            "$ref": "#/components/schemas/CBS.Website.ODataApi.Models.MediaType"
          },
          "MediaTypeInt": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "ReleaseTime": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "LeadText": {
            "type": "string",
            "nullable": true
          },
          "Url": {
            "type": "string",
            "nullable": true
          },
          "MetaDescription": {
            "type": "string",
            "nullable": true
          },
          "TaxonomyTags": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Themes": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Series": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Version": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "SortOrder": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "ItemNameLowerCase": {
            "type": "string",
            "nullable": true
          },
          "Updated": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Created": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "Permalink": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CBS.Website.ODataApi.Models.CalendarEvent": {
        "title": "CalendarEvent",
        "type": "object",
        "properties": {
          "UniqueId": {
            "type": "string"
          },
          "Title": {
            "type": "string",
            "nullable": true
          },
          "Url": {
            "type": "string",
            "nullable": true
          },
          "MetaDescription": {
            "type": "string",
            "nullable": true
          },
          "Image": {
            "type": "string",
            "nullable": true
          },
          "ImageAlt": {
            "type": "string",
            "nullable": true
          },
          "Description": {
            "type": "string",
            "nullable": true
          },
          "PlannedPublicationTime": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "format": "date-time"
          },
          "ReportingPeriod": {
            "type": "string",
            "nullable": true
          },
          "Priority": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "UnderEmbargo": {
            "type": "boolean"
          },
          "PublishTimeUnknown": {
            "type": "boolean"
          },
          "RegionalClassification": {
            "type": "string",
            "nullable": true
          },
          "Themes": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true
            }
          },
          "Language": {
            "type": "string",
            "nullable": true
          },
          "Version": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "SortOrder": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "format": "int32"
          },
          "ItemNameLowerCase": {
[...]
